.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 32px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    display: flex;
    @include hover(transform, scale(1.2));
  }
}
.phone-number {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
}
